.navbar-inverse {
  background-color: #3Fc8bC;
  border-color: #3Fc8bC;
}

.navbar-inverse .navbar-brand {
	color: #046D8B;
  font-weight: bold;
}

.navbar {
	border-radius: 0px
}

.navbar-inverse .navbar-nav>li>a {
  color: #046D8B;
  font-weight: bold;
 }

 h1, h2, h3 {
 	color: #046D8B;
 }

 footer {
 	background-color: #3Fc8bC;
 	padding: 1em 1em .5em 2em;
 	margin: 1em -1.5em 0em -1.5em;
 	font-weight: bold
 }